.CommentForm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CommentForm__input {
  flex: 1 1 auto;
  border-radius: 5px;
  background-color: #eeeeee;
  border: none;
  padding: 4px;
}
